.page {
  --gray-rgb: 17, 17, 17;
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --gray-alpha-200: rgba(var(--gray-rgb), 0.1);

  --hover-primary: #2e2e2e;
  --hover-secondary: #f5f5f5;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 5rem;
  gap: 4rem;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --gray-alpha-200: rgba(var(--gray-rgb), 0.12);

    --hover-primary: #ccc;
    --hover-secondary: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.main code {
  font-family: inherit;
  background-color: var(--gray-alpha-100);
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.ctas a {
  appearance: none;
  border-radius: 9999px;
  height: 3rem;
  padding: 0 1.25rem;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
  cursor: pointer;
}

a.primary {
  background-color: var(--foreground);
  color: var(--background);
  gap: 0.5rem;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 10rem;
  background-color: transparent;
  color: var(--foreground);
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.875rem;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: inherit;
}

.footer img {
  flex-shrink: 0;
}

/* Hover only for non-touch */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background-color: var(--hover-primary);
    border-color: transparent;
  }

  a.secondary:hover {
    background-color: var(--hover-secondary);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 2rem;
    padding-bottom: 5rem;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
    align-items: stretch;
  }

  .ctas a {
    font-size: 0.875rem;
    height: 2.5rem;
    padding: 0 1rem;
    width: 100%;
  }

  a.secondary {
    min-width: unset;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1);
  }
}
